.itemCard {
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: start;
    width: 100%;

    img {
        width: 120px;
        height: 120px;
        border-radius: 1rem;
    }

    h4 {
        margin-top: .5rem;
        margin-bottom: .5rem;
    }

    small {
        color: var(--text-secondary);
        font-weight: bold;
    }
}

.descriptionContainer {
    display: block;

    p {
        color: var(--text-small);
    }
}